{% extends 'blog/base.html' %}

{% block title %}
	{{ post.title }}
{% endblock %}

{% block content %}
	<div class="post">
		{% if post.published_date %}
			<div class="date">{{ post.published_date }}</div>
		{% else %}
			 <a class="btn btn-default" href="{% url 'post_publish' post_pk=post.pk %}">Publish</a>
		{% endif %}
		{% if user.is_authenticated %}
			<a class="btn btn-default" href="{% url 'post_edit' post_pk=post.pk %}">
				<span class="glyphicon glyphicon-pencil"></span>
			</a>
			<a class="btn btn-default" href="{% url 'post_remove' post_pk=post.pk %}">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
		{% endif %}
		<h1>
			{% if post.is_pool %}
				<span class="glyphicon glyphicon-question-sign"></span>
			{% endif %}
			{{ post.title }}</h1>
		<p>{{ post.text|linebreaksbr }}</p>
	</div>
	{% block choices %}
		{% if post.is_pool %}
			<hr>
			<div class="choice">
				<form method="POST" class="vote-form" action="vote/">
				{% csrf_token %}
				{% for choice in post.choices.all %}
					<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.pk }}" />
					<label for="choice{{ forloop.counter }}">
						[<strong>{{ choice.votes }}</strong>] {{ choice.text }}
					</label><br />
				{% endfor %}
				<input type="submit" value="Vote" />
				</form>
			</div>
		{% endif %}
	{% endblock %}
	{% block comments %}
		<hr>
		<a class="btn btn-default" href="{% url 'add_comment_to_post' post_pk=post.pk %}">Add comment</a>
		{% for comment in comments %}
			<div class="comment">
				<div class="date">{{ comment.created_date }}</div>
				{% if not comment.is_approved %}
					<a class="btn btn-default" href="{% url 'comment_approve' post_pk=post.pk comment_pk=comment.pk %}">Approve</a>
				{% endif %}
				{% if user.is_authenticated %}
				 	<a class="btn btn-default" href="{% url 'comment_remove' post_pk=post.pk comment_pk=comment.pk %}">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
				{% endif %}
				<strong>{{ comment.author }}</strong>
				<p>{{ comment.text|linebreaks }}</p>
			</div>
		{% empty %}
			<p>No comments here yet :(</p>
		{% endfor %}
	{% endblock %}
{% endblock %}
