{% extends 'blog/base.html' %}

{% block title %}
	{{ post.title }}
{% endblock %}

{% block content %}
	<div class="post">
		{% if post.published_date %}
			<div class="date">{{ post.published_date }}</div>
		{% else %}
			 <a class="btn btn-default" href="{% url 'post_publish' post_pk=post.pk %}">Publish</a>
		{% endif %}
		{% if user.is_authenticated %}
			<a class="btn btn-default" href="{% url 'post_edit' post_pk=post.pk %}">
				<span class="glyphicon glyphicon-pencil"></span>
			</a>
			<a class="btn btn-default" href="{% url 'post_remove' post_pk=post.pk %}">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
		{% endif %}
		<h1>
			{% if post.is_pool %}
				<span class="glyphicon glyphicon-question-sign"></span>
			{% endif %}
			{{ post.title }}</h1>
		<p>{{ post.text|linebreaksbr }}</p>
	</div>
	<hr>
	{% block choice_new %}
		{% if post.is_pool and user.is_authenticated %}
			<a class="btn btn-default" href="{% url 'choice_new' post_pk=post.pk %}">Add choice</a>
		{% endif %}
	{% endblock %}
	<hr>
	{% block choices %}
		{% if post.is_pool %}
			{% for choice in post.choices.all %}
				<div class="choice">
					<p>
						<a class="btn btn-default" href="{% url 'choice_vote' post_pk=post.pk choice_pk=choice.pk %}">
							<span class="glyphicon glyphicon-thumbs-up"></span>
						</a>
						{% if user.is_authenticated %}
							<a class="btn btn-default" href="{% url 'choice_remove' post_pk=post.pk choice_pk=choice.pk %}">
								<span class="glyphicon glyphicon-remove"></span>
							</a>
						{% endif %}
						[<strong>{{ choice.votes }}</strong>] {{ choice.text }}
					</p>
				</div>
			{% endfor %}
		{% endif %}
	{% endblock %}
	<hr>
	{% block comments %}
		<a class="btn btn-default" href="{% url 'add_comment_to_post' post_pk=post.pk %}">Add comment</a>
		{% for comment in comments %}
			<div class="comment">
				<div class="date">{{ comment.created_date }}</div>
				{% if not comment.is_approved %}
					<a class="btn btn-default" href="{% url 'comment_approve' post_pk=post.pk comment_pk=comment.pk %}">Approve</a>
				{% endif %}
				{% if user.is_authenticated %}
				 	<a class="btn btn-default" href="{% url 'comment_remove' post_pk=post.pk comment_pk=comment.pk %}">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
				{% endif %}
				<strong>{{ comment.author }}</strong>
				<p>{{ comment.text|linebreaks }}</p>
			</div>
		{% empty %}
			<p>No comments here yet :(</p>
		{% endfor %}
	{% endblock %}
{% endblock %}
